<div class= "container">
  <div class="jumbotron">
  <% if @current_user.present? %>
    <%= form_tag artists_search_path, :method => 'get' do %>
      <h1> Hi <%= @current_user.name %></h1>
      <fieldset class="form-group">
        <%= text_field_tag :name, nil, :placeholder => "Enter an Artist Name", :required => 'true', :class => "form-control" %>
      </fieldset>
      <fieldset class="form-group">
        <%= submit_tag "Find Artist", :class => "button", :class => "btn btn-default"  %>
      </fieldset>
    <% end %>
  <% end %>
  <div class="text-center">
        <%= image_tag @artist.images[0]["url"], :class => "artist-img" if @artist.images.any? %>

  <div class="track-container">
    <% @tracks.take(10).each do |track| %>
      <div class="playlist">
         <%= audio_tag track.preview_url, :controls => true, :class => "this_is_draggable"%>
         <%= link_to @artist.external_urls do %>
            <%= image_tag ("spotify-icon-22.png"), :class => "spotify-icon" %>
         <% end %>
      </div>
      <div class="add-to-playlist-button">
         <select class="form-control input-sm"></select>
         <button type="button" class="btn btn-primary btn-xs">Add to Playlist</button>
      </div>
    <% end %>
  </div>

    </div>
  </div>
</div>
